#back{
    
    
background-image: url(http://m.offermachine.com/data/uploads/news/2016-05-10/201605101806052380.jpg);
background-size: 100%;
background-repeat: no-repeat;
background-repeat: 1px 100px;
}
#1{
    
    
}
#former{float: left;

}
#latter{float: left
    
}
#column{
  float: left;
   
}
.bbb{
    font-size: 18;
}